.kafelki-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.kafelek {
  border: 3px solid #034728;
  border-radius: 20px;
  padding: 16px;
  background-color: #ecf8a7;
}

.kafelek h3 {
  margin: 0;
  font-size: 16px;
  color: #034728;
}

.kafelek p {
  margin: 6px 0 12px;
  font-size: 10px;
  font-weight: bold;
  color: #2caa56;
}
